@charset "UTF-8";
#container {

    max-width: 780px;
    width: auto;
    margin:0 auto;
    padding: 0;

}


#rotate-banner{
    background-color: #fdff21;
    width:40%;
    margin:0 auto;
    display:block;
    overflow:hidden;
    z-index : 0;
}

dl{
    display: block;
    position:relative;
    width:100%;
    height:100%;
}

dd {
    /*display: none;*/

}

dd#js_hack{
    display: block;
    height:auto;
    width: 60%;
    margin:0 auto;
}

a, img{
    display: block;
    width:100%;
    height:auto;
}
#rotate-banner>img{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;
    z-index: -1000;
}